{% extends "layout/base.html" %}

{% block content %}
    <div>
        <form>
            {{ form.csrf_token() }}
            <div>
                <div>
                    <div>
                        {{ form.name_1 }}
                        {% if form.name_1.errors %}
                            {% for error in form.name_1.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.name_2 }}
                        {% if form.name_2.errors %}
                            {% for error in form.name_2.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.name_3 }}   
                        {% if form.name_3.errors %}
                            {% for error in form.name_3.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div>
                        {{ form.answer }}
                        {% if form.answer.errors %}
                            {% for error in form.answer.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div>
                    <button>Update Symptom</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}