{% extends "layout/base.html" %}

{% block content %}
    <div>
        <nav class="nav-bar">
            <div class="nav-link">
                <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
                </ul>
            </div>
        </nav>
    </div>
<div class="card-style">
    <div class="card-content">
        <div class="card-content-head">
            <ul>
                <li>Are you sure you want to delete this module?</li>
                <li><strong>Name: </strong>{{ module.name }}</li>
                <li><strong>Description: </strong>{{ module.description or "-"}}</li>
            </ul>
        </div>
    </div>
    <div class="card-content-button">
        <button class="button-content-cancel"><a href="{{ url_for('module.index') }}">Cancel</a></button>
        <form method="POST" action="{{ url_for('module.delete', module_id=module.id) }}">
            {{ form.hidden_tag() }}
            {{ form.submit(class="button-content-delete") }}
        </form>
    </div>
</div>
{% endblock %}
