{% extends "layout/base.html" %}
{% block content %}
<div>
    <nav class="nav-bar">
        <div class="nav-link">
            <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <form class="create-form" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <div class="create-form-input">
            {{ form.username }}
            {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-input">
            {{ form.email }}
            {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-input">
            {{ form.full_name }}
            {% if form.full_name.errors %}
            {% for error in form.full_name.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div>
            {{ form.is_active }}
            <label for="is_active">Is Active</label>
        </div>

        <div class="create-form-input-check">
            {{ form.role_id }}
            {% if form.role_id.errors %}
            {% for error in form.role_id.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-input">
            {{ form.password }}
            {% if form.password.errors %}
            {% for error in form.password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-input">
            {{ form.confirm_password }}
            {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-button">
            <input type="submit" id="save" value="Save">
        </div>
    </form>
</div>
{% endblock %}