{% extends "layout/base.html" }

{% block content %}
    <div>
        <nav class="nav-bar">
            <div class="nav-link">
                <ul>
                <li><a href="{{ url_for('users.index') }}">User</a></li>
                <li><a href="{{ url_for('roles.index') }}">Role</a></li>
                <li><a href="{{ url_for('permissions.index') }}">Permission</a></li>
                <li><a href="{{ url_for('modules.index') }}">Module</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="card-content">
        <div class="card-content-head">
            <ul>
                <li><strong>Usernane: </strong>{{ user.username }}</li>
                <li><strong>Full Name: </strong>{{ user.full_name }}</li>
                <li><strong>Email: </strong>{{ user.email }}</li>
            </ul>
        </div>
        <div class="card-content-button">
            <button class="button-content-delete" type="submit">Delete</button>
            <button class="button-content-cancel"><a href="{{ url_for('users.index') }}">Cancel</a></button>
        </div>
    </div>
{% endblock %}
