{% extends "layout/base.html" %}

{% block content %}
    <div>
        <nav class="nav-bar">
            <div class="nav-link">
                <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="card-content">
        <form method="POST">
            {{ form.csrf_token() }}
            <div class="card-content-head">
                <ul>
                    <li><strong>Username: </strong>{{ user.username }}</li>
                    <li><strong>Full Name: </strong>{{ user.full_name }}</li>
                    <li><strong>Email: </strong>{{ user.email }}</li>
                </ul>
            </div>
            <div class="card-content-button">
                <button class="button-content-cancel" type="button"><a href="{{ url_for('User.index') }}">Cancel</a></button>
                {{ form.submit(class="button-content-delete") }}
            </div>
        </form>
    </div>
{% endblock %}
