{% extends "layout/base.html" %}

{% block content %}
<div>
    <nav class="nav-bar">
        <div class="nav-link">
            <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="button-submit">
    <button type="submit">
        <a href="{{ url_for('User.create') }}">Add User</a>
    </button>
</div>

{% for user in users %}
<div class="row-user">
    <div class="image-view">
        <img src="{{ url_for('static', filename='images/users.png') }}" alt="images">
    </div>
    <div class="list-user">
        <ul>
            <li class="set-width">{{ user.full_name }}</li>
            <li>{{ user.email }}</li>
            <li class="li-user"><a href="{{ url_for('User.detail', user_id=user.id) }}">@{{ user.username }}</a></li>
            <li class="li-user-active">
                {% if user.is_active %} 
                <span>✅</span>
                {% else %}
                <span>❌</span>
                {% endif %}
            </li>
            <li class="set-width">{{ user.created_at.strftime('%Y-%m-%d') }}</li>
        </ul>
        
    </div>
    <div class="button-list">
        <button class="button-update"><a href="{{ url_for('User.edit', user_id=user.id) }}">Edit</a></button>
        <button class="button-delete"><a href="{{ url_for('User.delete_confirm', user_id=user.id) }}">Delete</a></button>
    </div>  
</div>
{% else %}
<p class="text-role">No User created. Please create user for role.</p>
{% endfor %}

{% endblock %}