{% extends "layout/base.html" %}

{% block content %}

<div class="create-form-container">
    <form method="POST" novalidate>
        {{ form.csrf_token() }}
        <div class="create-form-edit">
            <div class="create-form-edit-1">
                <div class="create-form-input">
                    {{ form.name }}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="create-form-edit-2">
                <div class="create-form-input-textarea">
                    {{ form.symptoms }}
                    {% if form.symptoms.errors %}
                        {% for error in form.symptoms.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="create-form-input-textarea">
                    {{ form.causes }}
                    {% if form.causes.errors %}
                        {% for error in form.causes.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>                
            </div>

            <div class="create-form-edit-2">
                <div class="create-form-input-textarea">
                    {{ form.treatments }}
                    {% if form.treatments.errors %}
                        {% for error in form.treatments.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="create-form-input-textarea">
                    {{ form.prevention }}
                    {% if form.prevention.errors %}
                        {% for error in form.prevention.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

           <div>
                <div class="create-form-button">
                    {{ form.submit(id="save", value="Save") }}
                </div>
           </div>
        </div>
    </form>
</div>

{% endblock %}
