
{% extends "layout/base.html" %}

{% block content %}
<div class="create-form-container">
    <form method="POST">
        {{ form.csrf_token() }}
        <div class="form-search">
            <div class="symptom-inputs">
                <div>
                    <h2 class="text-role">Diagnose Watermelon Disease</h2>
                </div>
                
                <div class="create-form-input-check-symptom">
                    {{ form.symptom1 }}
                    {% if form.symptom1.errors %}
                        {% for error in form.symptom1.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="create-form-input-check-symptom">
                    {{ form.symptom2 }}
                    {% if form.symptom2.errors %}
                        {% for error in form.symptom2.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="create-form-input-check-symptom">
                    {{ form.symptom3 }}
                    {% if form.symptom3.errors %}
                        {% for error in form.symptom3.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form-search-button">
                <button type="submit">🔎 Search</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
