
{% extends "layout/base.html" %}

{% block content %}
<div class="create-form-container">
    <h2 class="text-role">Diagnose Watermelon Disease</h2>
    <form method="POST">
        {{ form.csrf_token() }}
        <div class="form-search">
            <div class="create-form-input">
                {{ form.symptoms }}
                {% if form.symptoms.errors %}
                    {% for error in form.symptoms.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-search-button">
                <button type="submit">🔎 Search</button>
            </div>
                        
        </div>
    </form>
</div>
{% endblock %}
