* {
    background-color: #e1edeb;
    color: rgb(14, 13, 13);
}
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.profile-full-name {
    font-size: 20px;
    color: rgb(230, 44, 100);
}

.asidenav {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 150px;
    position: fixed;
    top: 10px;
    right: 5px;
    border: none;
    border-radius: 20px;
    padding: 30px;
    filter: drop-shadow(1px 1px 9px 1px rgb(114, 85, 172));
    box-shadow: 1px 1px 9px 1px rgb(209, 181, 181);
}
.profile-status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.profile-status img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.profile-name-status {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.profile-name-status h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}
.profile-name-status small {
    font-size: 12px;
    margin: 0;
    color: rgb(116, 113, 113);
}


.aside-link {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-top: 50px;
}
.aside-link ul{ 
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    font-size: 20px;
}

.aside-link ul li {
    margin-bottom: 15px;
}
.aside-link ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.aside-link ul li a:hover {
    color: #555;
} 

.aside-link ul li a.active {
    color: #007bff;
    font-weight: bold;
}

.button-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-top: 300px
}

.button-logout button{
    background-color: #ff4d4d;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-logout button a{
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
}

.container {
    margin-right: 100px;
    margin-left: 20px;
    padding: 20px;
}

/* users/index.html */
.nav-bar {
    margin-top: 20px;
    margin-bottom: 100px;
}
.nav-link ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    position: fixed;
    top: 10px;
    width: 1200px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 9px 1px rgb(114, 85, 172);
}

.nav-link li {
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}
.nav-link a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
.nav-link ul li a.active {
    color: #007bff;
    font-weight: bold;
    text-decoration: 5px underline #007bff;
}
.button-submit {
    margin-left: 30px;
}
.button-submit button {
    background-color: rgb(74, 230, 84);
    color: white;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
}
.button-submit-permsission button {
    background-color: rgb(74, 230, 84);
    border:none;
    color: white;
    border-radius: 5px;
    width: 130px;
    height: 30px;
}
.button-submit-permsission button a{
    background-color: rgb(74, 230, 84);
    color: white;
    text-decoration: none;
}
.button-submit-permsission button:hover {
    box-shadow: 1px 1px 9px 1px rgb(74, 230, 84);
}
.li-user {
    position: relative;
    left: 50px;
}

.li-user-active {
    position: relative;
    left: 50px;
}
.button-submit a {

    background-color: rgb(74, 230, 84);
    color: white;
    text-decoration: none;
}
.button-submit button:hover {
    box-shadow: 1px 1px 9px 1px rgb(74, 230, 84);
}
.row-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px dotted black;
    width: 1080px;
}
.image-view {
    position: relative;
    left: 30px;
}
.image-view img {
    width: 30px;
    padding: 0;
    height: 30px;
    object-fit: cover;
}
.list-user ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.list-user li {
    list-style: none;
    font-size: 18px;
    width: 130px;
}
.list-user a {
    color: blue;
}
.set-width {
    width: 100px;
} 
.button-list {
    display: flex;
    flex-direction:  row;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}
.button-update {
    background-color: rgb(226, 150, 44);
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 20px;
}
.button-update a {
    background-color: rgb(226, 150, 44);
    color: white;
    text-decoration: none;
}

.button-delete {
    background-color: red;
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 20px;
}

.button-delete a {
    background-color: red;
    color: white;
    text-decoration: none;
}
/* users/create */
.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-form-edit  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.create-form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.create-form-input input {
    width: 300px;
    height: 25px;
    padding-left: 10px;
    border-radius: 5px;
}
.create-form-input-check select{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    gap: 10px;
}
.create-form-button input{
    width: 315px;
    height: 30px;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: white;
}
.create-form-input-check-symptom select {
    width: 400px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
}

.create-form-input-check-select select {
    width: 310px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}
.text-role {
    color: rgb(104, 59, 208);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* users/delete.html */
.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 1px rgb(114, 85, 172);
    width: 600px;
    height: 300px;
}
.card-content-head ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-content-head li {
    list-style: none;
    font-size: 20px;
}
.card-content-button {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}
.button-content-delete {
    border-radius: 5px;
    border: none;
    background-color: red;
    width: 80px;
    height: 30px;
    color: white;
    font-weight: bold;
}
.button-content-cancel {
    border-radius: 5px;
    border: none;
    background-color: blue;
    width: 80px;
    height: 30px;
    color: white;
    font-weight: bold;
}
.button-content-cancel a {
    text-decoration: none;
    color: white;
    border: none;
    background-color: blue;
}

.button-content-delete:hover {
    box-shadow: 1px 1px 9px 1px red;
}
.button-content-cancel:hover {
    box-shadow: 1px 1px 9px 1px blueviolet;
}   
/*  Users/detail.html */
.back-button button {
    margin-left: 50px;
    width: 80px;
    height: 30px;
    background-color: #803972;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 0;
}
.back-button button:hover {
    box-shadow: 1px 1px 9px 1px rgba(146, 47, 179, 0.901);
}

/* roles/delete.html */

.card-content-delete {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 20px;
    box-shadow: 1px 1px 9px 1px rgb(114, 85, 172);
    border-radius: 10px;
    padding: 10px;
}
.card-content-delete-desc h4 {
    color: red;
    font-weight: bold;
    font-size: 25px;
}
.card-content-delete-desc p {
    color: blue;
    font-size: 20px;
}

.card-delete-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card-delete-header li {
    list-style: none;
}

.card-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-cancel a{
    background-color: rgb(97, 89, 89);
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.button-cancel {
    border-radius: 5px;
    border: none;   
    background-color: rgb(97, 89, 89);
    width: 100px;
    height: 30px;
}
.button-cancel:hover {
    box-shadow: 1px 1px 9px 1px rgba(83, 73, 86, 0.901);
}
.button-delete-confirm {
    border-radius: 5px;
    border: none;
    background-color: red;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
}
.button-delete-confirm a {
    color: white;
    text-decoration: none;
    background-color: red;
}

.button-delete-confirm:hover {
    box-shadow: 1px 1px 9px 1px red;
}

.button-edit {
    border-radius: 5px;
    border: none;
    background-color: blue;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
.button-edit a {
    text-decoration: none;
    background-color: blue;
    color: white;
}

.button-edit:hover {
    box-shadow: 1px 1px 9px 1px blueviolet;
}

.create-form-edit button{
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #555;
}
.create-form-edit a {
    text-decoration: none;
    color: white;
    background-color: #555;
}

/* roles/detail.html */
.list-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 1140px;
}

.list-view-role {
    width: 400px;
}
.list-view-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 500px;
    gap: 10px;
}
.card-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    border-radius: 10px;
    width: 1200px;
}

.card-view-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 9px 1px rgb(114, 85, 172);
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    height: 200px;
}
.card-view-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 9px 1px rgb(114, 85, 172);
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    height: 200px;

}

.desc {
    list-style: none;
}

.card-view-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 9px 1px rgb(162, 170, 54);
    border-radius: 10px;
    padding: 20px;
    width: 1100px;
    margin-top: 30px;
}
.ul-list ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.ul-list li {
    list-style: none;
}
.ul-list ul, li {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.li-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Permssions/detail.html */
.card-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card-detail-all {
    width: 500px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.card-detail ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-detail li {
    list-style: none;
}

/* auth/login.html */
.card-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.card-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    padding: 30px;

}
.form-login-flex {
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.form-login-pwd {
    position: relative;
    left: 15px;
}
.form-pwd {
    width: 300px;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 5px;
}
.form-login {
    padding: 10px;
}
.form-login input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.form-login-pwd {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
.form-login button {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.form-login button {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(56, 71, 165);
    color: white;
}
.form-login button:hover {
    box-shadow: 1px 1px 9px 1px rgb(56, 89, 165);
}
.form-login a {
    color: blue;
}
.form-login-register a {
    color: blue;
}

.diagnose-list-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    margin-bottom: 20px;
}

/* Dashboard/diagnose.html */

.text-h2 {
    color: rgba(147, 66, 222, 0.812);
    margin: 0;
}

.table-diagnose table {
    border-collapse: collapse;
    width: 90%;
} 

.table-diagnose th, td {
    border: 1px solid #131212;
    padding: 8px;
    text-align: left;
}

.table-diagnose tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-diagnose th {
    background-color: #4CAF50;
    color: white;

}

.button-view {
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(60, 233, 83);
}

.button-view a {
    text-decoration: none;
    color: white;
    background-color:rgb(60, 233, 83) ;

}
.button-view:hover {
    box-shadow: 1px 1px 9px 1px rgb(60, 233, 83);
}
.text-p {
    font-size: 25px;
    color: gray;
    font-weight: bold;
    text-align: center;
}

.create_form-button input{
    background-color: rgb(110, 89, 89);
    color: white;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.form-search {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.symptom-inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}   

.form-search-button button {
    background-color: rgb(215, 34, 104);
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.form-submit-diagnose button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    font-weight: bold;
}

.form-submit-diagnose a {
    text-decoration: none;
    color: white;
    background-color: gray;
}

.form-submit-diagnose button:hover {
    box-shadow: 1px 1px 9px 1px gray;
}

.create-form-input-textarea textarea {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
}

.create-form-edit-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.create-form-edit-3{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.create-form-container {
    margin-top: 100px;
}

.link-tags a{
    text-decoration: none;
    color: blue;
}

.paragraph-detail {
    margin: 50px;
    font-size: 20px;
    color: gray;
    text-align: center;
}

.card-paragraph-detail ul{
    display: flex;
    flex-direction: column;
    gap: 20px;   
    justify-content: center;
}

.card-paragraph-detail li {
    list-style: none;
}


/* Resposible web page */

@media screen and (min-width: 480px) and (max-width: 768px) {

    .nav-link ul {
        width: 400px;
    }
    
    .list-user {
        width: 400px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .nav-link ul {
        width: 600px;
    }
    .list-user {
        width: 600px;
    }


}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

    .nav-link ul {
        width: 800px;
    }
    .list-user {
        width: 800px;
    }


}

@media screen and (min-width: 1281px) and (max-width: 1920px) {

    .nav-link ul {
        width: 1100px;
    }
    .list-user {
        width: 1000px;
    }

}





