{% extends "layout/base.html" %}

{% block content %}
<div>
    <nav class="nav-bar">
        <div class="nav-link">
            <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="create-form-container">
    <form method="post" novalidate>
        {{ form.csrf_token() }}
    <div class="create-form-edit">
        <div class="create-form-input">
            {{ form.code }}
            {% if form.code.errors %}
            {% for error in form.code.errors %}
                <div>{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-input">
            {{ form.name }}
            {% if form.name.errors %}
            {% for error in form.name.errors %}
                <div>{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-input-check-select">
            {{ form.module }}
            {% if form.module.errors %}
            {% for error in form.module.errors %}
                <div>{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-input-textarea">
            {{ form.description }}
            {% if form.description.errors %}
            {% for error in form.description.errors %}
                <div>{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-button">
            {{ form.submit(id="save", value="Save") }}
        </div>
    </div>
    </form>
</div>
{% endblock %}
