
{% extends "layout/base.html" %}

{% block content %}
<div>
    <nav class="nav-bar">
        <div class="nav-link">
            <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="list-button">
    <div class="list-view-role">
        <h2>Permission Detail</h2>
    </div>
    <div class="list-view-button">
        <button class="button-edit">
            <a href="{{ url_for('Permission.edit', permission_id=permission.id) }}">Edit</a>
        </button>
        <button class="button-delete-confirm">
            <a href="{{ url_for('Permission.delete_confirm', permission_id=permission.id) }}">Delete</a>
        </button>
        <button class="button-cancel">
            <a href="{{ url_for('Permission.index') }}">⏎ Back</a>
        </button>
    </div>
</div>

<div class="card-detail-all">
    <div class="card-detail">
        <ul>
            <li><strong>Code: </strong>{{ permission.code }}</li>
            <li><strong>Name: </strong>{{ permission.name}}</li>
            <li><strong>Modules: </strong>{{ permission.modules|join(', ', attribute='name') if permission.modules else 'None' }}</li>
            <li><strong>Description: </strong>{{ permission.description }}</li>
        </ul>
    </div>
</div>
{% endblock %}
