{% extend "layout/base.html" %}

{% block content %}
<div>
    <nav class="nav-bar">
        <div class="nav-link">
            <ul>
                <li><a href="{{ url_for('users.index') }}">User</a></li>
                <li><a href="{{ url_for('roles.index') }}">Role</a></li>
                <li><a href="{{ url_for('permissions.index') }}">Permission</a></li>
                <li><a href="{{ url_for('modules.index') }}">Module</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="button-submit">
    <button type="submit">
        <a href="{{ url_for('roles.create', role_id=role.id) }}">Add Role</a>
    </button>
</div>

{% for perm in permissions %} 
<div class="row-user">
    <div class="image-view">
        <img src="/app/static/images/profile.jpeg" alt="images">
    </div>
    <div class="list-user">
        <ul>
            <li><a href="{{ url_for('permission.detail', permission_id=permission.id) }}">{{ perm.code }}</a></li>
            <li>{{ perm.name }}</li>
            <li>{{ perm.modules }}</li>
            <li>{{ perm.roles|length }} role{{ 's' if perm.roles|length != 1 else '' }}</li>
            <li>{{ perm.created_at.strftime('%Y-%m-%d') }}</li>
        </ul>
    </div>
    <div class="button-list">
        <button class="button-update"><a href="{{ url_for(permissions.edit', permission_id=permission.id) }}">Edit</a></button>
        <button class="button-delete">
            <a href="{{ url_for('permissions.delete', permission_id=permission.id) }}">Delete</a>
        </button>
    </div>
</div>
{% endfor %}

{% endblock %}