{% extends "layout/base.html" %}

{% block content %}
{% if current_user.is_admin %}
<div>
    <nav class="nav-bar">
        <div class="nav-link">
            <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="button-submit-permsission">
    <button type="submit">
        <a href="{{ url_for('Permission.create') }}">Add Permission</a>
    </button>
</div>

{% for perm in permissions %} 
<div class="row-user">
    {% if perm %}
    <div class="image-view">
        <img src="{{ url_for('static', filename='images/permissions.png') }}" alt="images">
    </div>
    <div class="list-user">
        <ul>
            <li><a href="{{ url_for('Permission.detail', permission_id=perm.id) }}">{{ perm.code }}</a></li>
            <li>{{ perm.name }}</li>
            <li>{{ perm.modules|join(', ', attribute='name') if perm.modules else 'None' }}</li>
            <li>{{ perm.roles|length }} role{{ 's' if perm.roles|length != 1 else '' }}</li>
            <li>{{ perm.created_at.strftime('%Y-%m-%d') }}</li>
        </ul>
    </div>
    <div class="button-list">
        <button class="button-update"><a href="{{ url_for('Permission.edit', permission_id=perm.id) }}">Edit</a></button>
        <button class="button-delete">
            <a href="{{ url_for('Permission.delete_confirm', permission_id=perm.id) }}">Delete</a>
        </button>
    </div>
    {% endif %}
</div>
{% else %}
<p class="text-role">No Permission created. Please create permission for user.</p>
{% endfor %}
{% endif %}
{% endblock %}
