<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCom2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
</head>
<body>
    <main>
        <aside class="asidenav">
            {% if current_user.is_authenticated %}
                <div class="profile-status">
                    <div class="profile-name-status">
                        <h3>{{ current_user.full_name }}</h3>
                        <small><a href="{{ url_for('User.detail', user_id=current_user.id) }}">@{{ current_user.username }}</a></small>
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='images/profile.jpeg') }}" alt="Images">
                    </div>
                    
                </div>
                <div>
                    <div class="aside-link">
                        <ul>
                            <li><a href="{{ url_for('User.index') }}">Dashboards</a></li>
                            <li><a href="{{ url_for('disease.index')}}">Analyst</a></li>
                            <li><a href="{{ url_for('disease.create') }}">Insert Diagnose</a></li>
                        </ul>
                    </div>

                    <div class="button-logout">
                        <button type="submit"><a href="{{ url_for('auth.logout')}}">Logout</a></button>
                    </div>
              
            </div>
            {% endif %}
        </aside>
    </main>

    <!-- Section extend to other page -->
    <section class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </section>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
