{% extends "layout/base.html" %}

{% block content %}
    
<div>
    <nav class="nav-bar">
        <div class="nav-link">
            <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <div class="card-content-delete">
        <div class="card-content-delete-desc">
            <h4>Confirm Delete</h4>
            <p>Are you sure you want to delete this role? {{ role.name }}</p>
        </div>
        <div>
            {% if role.users %}
            <div class="card-delete-header">
                <strong>Note:</strong> This role is currently assigned to {{ role.users|length }} user(s):
                <ul>
                    {% for user in role.users %}
                    <li><strong>User: </strong>{{ user.username }} - {{ user.full_name }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
         <div class="card-button">
            <button class="button-cancel"><a href="{{ url_for('Role.index') }}">Cancel</a></button>
            <form method="POST" action="{{ url_for('Role.delete', role_id=role.id) }}">
                {{ form.hidden_tag() }}
                {{ form.submit(class="button-delete-confirm") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
