{% extends "layout/base.html" %}

{% block content %}
<div>
    <nav class="nav-bar">
        <div class="nav-link">
            <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
            </ul>
        </div>
    </nav>
</div>

    <div class="list-button">
        <div class="list-view-button">
            <button class="button-edit">
                <a href="{{ url_for('Role.edit', role_id=role.id) }}">Edit</a>
            </button>
            <button class="button-delete-confirm">
                <a href="{{ url_for('Role.delete', role_id=role.id) }}">Delete</a>
            </button>
            <button class="button-cancel">
               <a href="{{ url_for('Role.index') }}">⏎ Back</a>
            </button>
        </div>
    </div>

<div>
    <div class="card-view">
        <div class="card-view-1">
            <h2>Role Info</h2>
            <div>
                <p><strong>Name:</strong> {{ role.name }}</p>
                <p><strong>Description:</strong> {{ role.description}} </p>
                <p><strong>Role:</strong> {{ role.name }}</p>
                <p><strong>Create at:</strong> {{ role.created_at.strftime('%Y-%m-%d') }}</p>
            </div>
        </div>

        <div class="card-view-2">
            <h2>Permissions ({{ role.permissions|length }}) </h2>
                <div>
                    {% if role.permissions %}
                    <ul>
                        {% if perm in role.permissions %}

                        <li class="li-list">
                            {{ perm.name }} - {{ perm.code }}
                            <button class="button-edit">
                                <a href="{{ url_for('Permission.detail', permission_id=perm.id) }}">View</a>
                            </button>
                        </li>
                        <li class="desc">{{ perm.description }}</li>
                        {% endif %}
                    </ul>
                    {% else %}
                    <p>This role has no permissions yet.</p>
                    {% endif %}
                </div>
        </div>
    </div>
</div>
<div class="card-view-3">
    <h2>User With This Role {{ role.users|length }}</h2>
    <div class="ul-list">
        {% if role.users %}
        <ul>
            {% for user in role.users %}
            <li>
                <strong>{{ user.full_name }}</strong> ({{ user.username }}) - {{ user.email }}
                {% if user.is_active %}
                    <span>✅</span>
                {% else %}
                    <span>❌</span>
                {% endif %}
                Created: {{ user.created_at.strftime('%Y-%m-%d') }}
                <button class="button-edit">
                    <a href="{{ url_for('User.detail', user_id=user.id) }}">View</a>
                </button>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>This role has no users yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}