{% extends "layout/base.html" %}

{% block content %}
<div>
    <nav class="nav-bar">
        <div class="nav-link">
            <ul>
                <li><a href="{{ url_for('User.index') }}">User</a></li>
                <li><a href="{{ url_for('Role.index') }}">Role</a></li>
                <li><a href="{{ url_for('Permission.index') }}">Permission</a></li>
                <li><a href="{{ url_for('module.index') }}">Module</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="create-form">
    <form method="post" novalidate>
        {{ form.csrf_token() }}

        <div class="create-form-input">
            {{ form.name }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-input">
            {{ form.description }}
            {% if form.description.errors %}
                {% for error in form.description.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-input-check">
            {{ form.permissions }}
            {% if form.permissions.errors %}
                {% for error in form.permissions.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="create-form-button">
            {{ form.submit(id="change", value="Update") }}
            <a href="{{ url_for('Role.index') }}">
                <button type="button" id="cancel">Cancel</button>
            </a>
        </div>
    </form>
</div>

{% endblock %}
